@font-face {
  font-family: 'iconfont'; /* project id 3182576 */
  src: url('');
  src: url('?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_3182576_tgqgc3eprx.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3182576_tgqgc3eprx.woff') format('woff'), url('//at.alicdn.com/t/font_3182576_tgqgc3eprx.ttf') format('truetype'),
    url('#iconfont') format('svg');
}

.icon-copy:before {
  content: '\e611';
}

.icon-gerenzhongxin:before {
  content: '\e70e';
}

.icon-bangong:before {
  content: '\e70f';
}

.icon-shanchu:before {
  content: '\e710';
}

.icon-dayinji:before {
  content: '\e711';
}

.icon-kaiqi:before {
  content: '\e712';
}

.icon-jingyin:before {
  content: '\e713';
}

.icon-paizhao:before {
  content: '\e714';
}

.icon-you:before {
  content: '\e715';
}

.icon-shezhi:before {
  content: '\e716';
}

.icon-jine:before {
  content: '\e717';
}

.icon-lacai:before {
  content: '\e718';
}

.icon-guanbi:before {
  content: '\e719';
}

.icon-sousuo:before {
  content: '\e71a';
}

.icon-zhengque:before {
  content: '\e71b';
}

.icon-qiye:before {
  content: '\e71c';
}

.icon-youxiang:before {
  content: '\e71d';
}

.icon-dayin1:before {
  content: '\e71e';
}

.icon-tishi:before {
  content: '\e71f';
}

.icon-xiangmu:before {
  content: '\e720';
}

.icon-bofang:before {
  content: '\e721';
}

.icon-rili:before {
  content: '\e722';
}

.icon-zuo:before {
  content: '\e723';
}

.icon-duihua:before {
  content: '\e724';
}

.icon-dianzan:before {
  content: '\e725';
}

.icon-lianjie:before {
  content: '\e726';
}

.icon-shengyin:before {
  content: '\e727';
}

.icon-xianshi:before {
  content: '\e728';
}

.icon-shijian:before {
  content: '\e729';
}

.icon-ziliao:before {
  content: '\e72a';
}

.icon-gengduo:before {
  content: '\e72b';
}

.icon-zanting:before {
  content: '\e72c';
}

.icon-shoucang:before {
  content: '\e72d';
}

.icon-yincang:before {
  content: '\e72e';
}

.icon-jilu:before {
  content: '\e72f';
}

.icon-jifen:before {
  content: '\e730';
}

.icon-kefu:before {
  content: '\e731';
}

.icon-cuowu:before {
  content: '\e732';
}

.icon-jian:before {
  content: '\e733';
}

.icon-xiazai:before {
  content: '\e734';
}

.icon-biaoqian:before {
  content: '\e735';
}

.icon-jia:before {
  content: '\e736';
}

.icon-zuzhi:before {
  content: '\e737';
}

.icon-shangchuan:before {
  content: '\e738';
}

.icon-mendian:before {
  content: '\e739';
}

.icon-tongzhi:before {
  content: '\e73a';
}

.icon-shouye:before {
  content: '\e73b';
}

.icon-tianjia:before {
  content: '\e73c';
}

.icon-bianji:before {
  content: '\e73d';
}

.icon-chenggong:before {
  content: '\e73e';
}

.icon-wenjian:before {
  content: '\e73f';
}

.icon-tianxie:before {
  content: '\e740';
}

.icon-xiangce:before {
  content: '\e741';
}

.icon-tuku:before {
  content: '\e742';
}

.icon-shuju:before {
  content: '\e743';
}

.icon-zhibiao:before {
  content: '\e744';
}

.icon-huakuai:before {
  content: '\e745';
}

.icon-daojishi:before {
  content: '\e746';
}

.icon-bangzhuzhongxin:before {
  content: '\e747';
}

.icon-saoyisao:before {
  content: '\e748';
}

.icon-baocun:before {
  content: '\e749';
}
