@import '../style/theme/index.less';
@import '../style/mixins/index.less';

@btn-prefix-cls: ~'@{class-prefix}-button';
@btn-group-prefix-cls: ~'@{class-prefix}-button-group';

@border-radius: 3px;

.@{btn-prefix-cls} {
  .transition();
  box-sizing: border-box;
  display: inline-block;
  padding: calc(@font-size-base - 6px) calc(@font-size-base - 4px);
  cursor: pointer;
  border-radius: @border-radius;
  color: @text-color;
  border: solid 1px @border-color-base;
  font-size: @font-size-base;
  background-color: @white;
  position: relative;

  &.@{btn-prefix-cls}-block{
    display: block;
    text-align: center;
    width: 100%;
    + .@{btn-prefix-cls}.@{btn-prefix-cls}-block{
      margin-left: unset;
      margin-top: calc(@font-size-base / 2);
    }
  }

  &:hover:not(.@{btn-prefix-cls}-disabled) {
    border-color: @primary-color;
    color: @primary-color;
  }

  &:active:not(.@{btn-prefix-cls}-disabled) {
    border-color: @primary-color-active;
    color: @primary-color-active;
  }

  + .@{btn-prefix-cls}{
    margin-left: calc(@font-size-base / 2);
  }

  &.@{btn-prefix-cls}-primary{
    background-color: @primary-color;
    color: @white;
    border: solid 1px @primary-color;

    &:hover:not(.@{btn-prefix-cls}-disabled) {
      background-color: @primary-color-hover;
      border-color: @primary-color-hover;
      color: @white;
    }

    &:active:not(.@{btn-prefix-cls}-disabled)  {
      background-color: @primary-color-active;
      border-color: @primary-color-active;
    }
    &.@{btn-prefix-cls}-ghost {
      color: @primary-color;
      &:hover:not(.@{btn-prefix-cls}-disabled) {
        border-color: @primary-color-hover;
        color: @primary-color-hover;
      }

      &:active:not(.@{btn-prefix-cls}-disabled)  {
        border-color: @primary-color-active;
        color: @primary-color-active;
      }
    }

    &.@{btn-prefix-cls}-danger{
      background-color: @btn-danger-bg;
      color: @btn-danger-color;
      border: solid 1px @btn-danger-border;

      &:hover:not(.@{btn-prefix-cls}-disabled) {
        background-color: @menu-highlight-danger-color;
        border-color: @menu-highlight-danger-color;
        color: @btn-danger-color;
      }

      &:active:not(.@{btn-prefix-cls}-disabled)  {
        background-color: @red-7;
        border-color: @red-7;
      }
    }

    
  }
  &.@{btn-prefix-cls}-dashed{
    border-style: dashed;

    &:hover:not(.@{btn-prefix-cls}-disabled) {
      border-color: @primary-color;
      color: @primary-color;
    }

    &:active:not(.@{btn-prefix-cls}-disabled) {
      border-color: @primary-color-active;
    }

    &.@{btn-prefix-cls}-disabled {
      color: @disabled-color;
      background-color: @disabled-bg;
      border-color: @disabled-color;
    }
  }
  &.@{btn-prefix-cls}-link{
    color: @primary-color;
    border-width: 0;

     &:hover:not(.@{btn-prefix-cls}-disabled) {
      color: @primary-color-hover;
      text-decoration: underline;
    }

    &:active:not(.@{btn-prefix-cls}-disabled) {
      color: @primary-color-active;
    }

    &.@{btn-prefix-cls}-disabled{
      background-color: transparent;
    }
  }
  &.@{btn-prefix-cls}-text{
    color: @text-color;
    border-width: 0;


    &:active:not(.@{btn-prefix-cls}-disabled) {
      background-color: @item-hover-bg;
    }

    &.@{btn-prefix-cls}-disabled{
      background-color: transparent;
    }
  }
  &.@{btn-prefix-cls}-ghost{
    background-color: transparent !important;
  }
  
  &.@{btn-prefix-cls}-disabled{
    cursor: not-allowed;
    color: @disabled-color;
    background-color: @disabled-bg;
    border-color: @disabled-color;
  }
}
.@{btn-group-prefix-cls} {
  display: inline-block;

  + .@{btn-group-prefix-cls}{
    margin-left: 1em;
  }

  .@{btn-prefix-cls} + .@{btn-prefix-cls}{
    margin-left: -1px;
  }
  .@{btn-prefix-cls} {
    border-radius: 0;
  }
  .@{btn-prefix-cls}:hover,.@{btn-prefix-cls}:focus{
    z-index: 1;
  }

  .@{btn-prefix-cls}:first-child{
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
  }

  .@{btn-prefix-cls}:last-child{
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }
}