@import '../style/theme/index.less';
@import '../style/mixins/index.less';

@btn-prefix-cls: ~'@{class-prefix}-button';

.@{btn-prefix-cls} {
  .transition();
  box-sizing: border-box;
  display: inline-block;
  padding: calc(@font-size-base - 6px) calc(@font-size-base - 4px);
  cursor: pointer;
  border-radius: 3px;
  color: @text-color;
  border: solid 1px @border-color-base;
  font-size: @font-size-base;
  background-color: @white;
  position: relative;

  &.@{btn-prefix-cls}-block{
    display: block;
    text-align: center;
    + .@{btn-prefix-cls}.@{btn-prefix-cls}-block{
      margin-left: unset;
      margin-top: calc(@font-size-base / 2);
    }
  }

  &:hover:not(.@{btn-prefix-cls}-disabled) {
    border-color: @primary-color;
    color: @primary-color;
  }

  &:active:not(.@{btn-prefix-cls}-disabled) {
    border-color: @primary-color-active;
    color: @primary-color-active;
  }

  + .@{btn-prefix-cls}{
    margin-left: calc(@font-size-base / 2);
  }

  &.@{btn-prefix-cls}-primary{
    background-color: @primary-color;
    color: @white;
    border: solid 1px @primary-color;

    &:hover:not(.@{btn-prefix-cls}-disabled) {
      background-color: @primary-color-hover;
      border-color: @primary-color-hover;
      color: @white;
    }

    &:active:not(.@{btn-prefix-cls}-disabled)  {
      background-color: @primary-color-active;
      border-color: @primary-color-active;
    }
    &.@{btn-prefix-cls}-ghost {
      color: @primary-color;
      &:hover:not(.@{btn-prefix-cls}-disabled) {
        border-color: @primary-color-hover;
        color: @primary-color-hover;
      }

      &:active:not(.@{btn-prefix-cls}-disabled)  {
        border-color: @primary-color-active;
        color: @primary-color-active;
      }
    }
  }
  &.@{btn-prefix-cls}-dashed{
    border-style: dashed;

    &:hover:not(.@{btn-prefix-cls}-disabled) {
      border-color: @primary-color;
      color: @primary-color;
    }

    &:active:not(.@{btn-prefix-cls}-disabled) {
      border-color: @primary-color-active;
    }

    &.@{btn-prefix-cls}-disabled {
      color: @disabled-color;
      background-color: @disabled-bg;
      border-color: @disabled-color;
    }
  }
  &.@{btn-prefix-cls}-link{
    color: @primary-color;
    border-width: 0;

     &:hover:not(.@{btn-prefix-cls}-disabled) {
      color: @primary-color-hover;
      text-decoration: underline;
    }

    &:active:not(.@{btn-prefix-cls}-disabled) {
      color: @primary-color-active;
    }

    &.@{btn-prefix-cls}-disabled{
      background-color: transparent;
    }
  }
  &.@{btn-prefix-cls}-text{
    color: @text-color;
    border-width: 0;


    &:active:not(.@{btn-prefix-cls}-disabled) {
      background-color: @item-hover-bg;
    }

    &.@{btn-prefix-cls}-disabled{
      background-color: transparent;
    }
  }
  &.@{btn-prefix-cls}-ghost{
    background-color: transparent !important;
  }
  
  &.@{btn-prefix-cls}-disabled{
    cursor: not-allowed;
    color: @disabled-color;
    background-color: @disabled-bg;
    border-color: @disabled-color;
  }
}